*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 30px;
    border: 2px solid black;
}

.box{
    width: 80px;
    height: 80px;
    border: 2px solid red;
}