*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: white;
    padding: 20px;
    margin:20px;
}

p{
    text-align: center;
}

.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

.set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set h4{
    padding-bottom:10px;
}

.section2{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 600px){
    .section{
        flex-direction: column;
    }
}